.brand-btn{
  background-color: rgb(18, 155, 18);
  color: white;
}

.brand-color{
  color:  rgb(18, 155, 18);
}

.brand-background{
  background-color: rgba(14, 182, 14, 0.315);
}

.icon-bg{
  background-color: rgba(226, 161, 161, 0.753);
}